<!DOCTYPE html>
<html>
<head>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

  <title>Search Cars</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Add Car</h2>
  <form method="POST">
    <input type="text" name="license_plate" placeholder="License Plate" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required><br>
    <input type="text" name="color" placeholder="Color" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required><br>
    <input type="text" name="type" placeholder="Type" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required><br>
    <input type="text" name="owner" placeholder="Owner Name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required><br>
    <button type="submit">Search</button>
  </form>

  {% if results %}
    <h3>Results:</h3>
    <ul>
      {% for car in results %}
        <li>{{ car.license_plate }} - {{ car.color }} - {{ car.type }} - {{ car.owner }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <br>
  <a href="/home" class="link-button">Back to Home</a>
</body>
</html>
