<!DOCTYPE html>
<html>
<head>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

  <title>Delete Car</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Delete a Car</h2>
  <form method="POST">
    <input type="text" name="license_plate" placeholder="License Plate" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>
    <button type="submit">Delete</button>
  </form>

  {% if message %}
    <p style="color: red; margin-top: 10px;">{{ message }}</p>
  {% endif %}

  <br>
  <a href="/home" class="link-button">Back to Home</a>
</body>
</html>
