<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="centered">
    <h2>Welcome</h2>
    <div>
      <a href="/add" class="link-button">הוספת רכב</a>
      <a href="/search" class="link-button">חיפוש רכב</a>
      <a href="/delete" class="link-button">מחיקת רכב</a>
    </div>
  </div>
</body>
</html>
