<!DOCTYPE html>
<html>
<head>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

  <title>Invalid Passcode</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="error-box">
    <h2>Invalid Passcode</h2>
    <form action="/login" method="get">
      <button type="submit">Try Again</button>
    </form>
  </div>
</body>
</html>
