<!DOCTYPE html>
<html>
<head>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="centered">
    <h2>Enter Passcode</h2>
    <form method="POST">
      <input type="password" name="passcode" placeholder="Passcode" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
