<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="centered">
    <h2>חיפוש</h2>
    <form method="POST">
      <input type="text" name="license_plate" placeholder="מספר רכב">
      <input type="text" name="color" placeholder="צבע">
      <input type="text" name="type" placeholder="סוג">
      <input type="text" name="owner" placeholder="שם בעל הרכב">
      <button type="submit">חיפוש</button>
    </form>

    {% if results %}
      <h3>Results:</h3>
      <ul>
        {% for car in results %}
          <li>{{ car.license_plate }} - {{ car.color }} - {{ car.type }} - {{ car.owner }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <a href="/home" class="link-button">חזרה</a>
  </div>
</body>
</html>
